# Complexidade de Algoritmos com matplotlib.pyplot

In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

#cria numpy com 10000 pontos do 0 a 100
pontos = np.linspace(10,10000,10000)
#Cria função n
n = pontos
#cria a função n²
n2 = n * n
#cria a função log(n)
log= np.log(n)

In [33]:
#Cria DataFrame
E = log *log
I = n/log
D = n ** 0.5
df = pd.DataFrame({'log²': E,'n/log':I,'n^0.5':D},index=n)
%matplotlib
df.plot()
plt.axis([0,10000,0,2000])
plt.show()

Using matplotlib backend: TkAgg

In [9]:
#Cria DataFrame
A = 10 *(n**(np.pi))
B = log
C = np.log(n2)
D =  (n**(0.3))
E = 1000 * log * log
F = 30 * n2 *n * log
G = 50* n * log * log
H = (log)**log
df = pd.DataFrame({'10(n^pi)': A,'log(n)':B,'log(n²)':C,'0.005 n^0.00001':D,'1000*(log(n))²':E,'30n³(log(n))':F},index=n)
df.tail()

,10(n^pi),log(n),log(n²),0.005 n^0.00001,1000*(log(n))²,30n³(log(n))
999996.0,7.072134e+19,13.815507,27.631013,63.095659,190868.221453,4.144602e+20
999997.0,7.072156e+19,13.815508,27.631015,63.095678,190868.249084,4.144615e+20
999998.0,7.072178e+19,13.815509,27.631017,63.095697,190868.276715,4.144628e+20
999999.0,7.072200e+19,13.815510,27.631019,63.095716,190868.304346,4.144640e+20
1000000.0,7.072223e+19,13.815511,27.631021,63.095734,190868.331977,4.144653e+20

In [16]:
%matplotlib
df.plot()
plt.axis([0,100,0,100])
plt.show()

Using matplotlib backend: TkAgg